body { 
    color:rgb(15, 15, 15);
    background:rgb(15, 15, 15);
    margin: 0px;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 200px;
}
header {
    border-bottom: solid 2px rgb(117, 25, 25);
    padding: 20px;
    font-size: 40px;
    color:   rgb(117, 25, 25);
}
.chamada {
    background:   rgb(117, 25, 25);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 50px;
}
p {
    font-size: 30px;
}
.categoria-videos {
    display:inline-block;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 38px;
    padding-right: 30px;
    margin-top: 50px;
}
.categoria-videos img {
opacity: 0.4;
height: 250px;
}
.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid  rgb(117, 25, 25);
}
.categoria h2 {
    color: white
}
