body { 
    color:rgb(0, 0, 0);
    background:black;
    margin: 0px;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 200px;
}

header {
    border-bottom: solid 2px rgb(80, 48, 119);
    padding: 20px;
    font-size: 40px;
    color: rgb(80, 48, 119);
}

.chamada {
    background:  rgb(80, 48, 119);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 1%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.categoria-videos {
    display:inline-block;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid  rgb(80, 48, 119);
}

.categoria h2 {
    color: white
}